{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}

    <div class="cf">
        <div class="input" id="input-name">
            {{ form_row(form.codePackage, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="input" id="input-photo">
            {{ form_row(form.prixPackage, { 'attr': {'class': 'input'} }) }}
        </div>
        <div class="input" id="input-photo">
            {{ form_row(form.services, { 'attr': {'class': 'input'} }) }}
        </div>
    </div>
    <div>
        {{ form_row(form.enregistrer) }}
    </div>


{{ form_end(form) }}
