{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ service.nomService }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ service.prixService }} €</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_index') }}"><i class="far fa-arrow-alt-circle-left"></i> Retour à la liste</a>

{#    <a href="{{ path('service_edit', {'id': service.id}) }}">editer</a>#}

{#    {{ include('service/_delete_form.html.twig') }}#}
{% endblock %}
